<!DOCTYPE html>
<html>

<head>
  <title>Google Play Application Review Classification</title>
  {% include 'includes.html' %}
</head>

<body>
  <h1 class="titleText">Google Play Application Review Classification </h1>
  <div class="container">
    <div class="tabs">
      <button class="tab active" id="btnTab1" onclick="openTab(event, 'tab1', 'btnTab1')" disabled>Single Review Classification</button>
      <button class="tab active" id="btnTab2" onclick="openTab(event, 'tab2', 'btnTab2')" disabled>Application Reviews Classification</button>
    </div>
    <div id="tab1" class="tab-content">
      <h2>Single Review Classification </h2>
      <p>Enter review text below to be classified.</p>
      <form id="single-text-form" action="/single_text" method="POST">
        <textarea name="review_text" style="height: 150px;" placeholder="Enter your review..." required></textarea>
        <button class="btnSubmit" id="buttonSubmit" type="submit">
            Predict
        </button>
      </form>
    </div>
    <div id="tab2" class="tab-content">
      <div id="inputDiv">
        <h2>Google Play Application Classification</h2>
        <p>Enter google play URL:<br><span style="font-size: 10px; color: gray;"><i>eg: https://play.google.com/store/apps/details?id=co.imba.he</i></span></p>
        <form id="url-form" action="/review" method="POST">
          <textarea name="url" placeholder="Enter url..." required></textarea>
          <button class="btnSubmit" id="buttonSubmit" type="submit" onclick="">
            Predict
          </button>
        </form>
      </div>
      <div id="resultDiv">
        <button class="btnBack" id="btnBack" onclick="$('#resultDiv').hide();$('#inputDiv').show();"><i class="fa-solid fa-angle-left"></i>&nbsp;Back</button>
          <h2 id="appTitle"></h2>
          <div class="grid-container">
            <div class="grid-item">
              <div class="sideBySide">
                <img id="appIcon" src style="height: 80px; width:80px; margin-right: 20px;"></img>
                <p style="text-align: left; line-height: 1.3;">
                  <b>ID: </b><span id="appId"></span><br>
                  <b>Developer: </b><span id="appDeveloper"></span><br>
                  <b>Version: </b><span id="appVersion"></span><br>
                  <b>URL: </b><a id="appUrl" target="_blank"></a>
                </p>
              </div>
            </div>
            <div class="grid-item">
              <p style="text-align: left; line-height: 1.3;">
                <b>Reviews classified as: </b><br>
                <span id="classification"></span>
              </p>
            </div>
          </div>
          <p style="line-height: 1.25;">
            <b>Description:</b><br>
            <span id="appDescription"></span>&nbsp;<span id="spanReadToggle"></span>
          </p>
          <div class="sideBySide">
            <button class="btnBack" onclick="showReviewTable()"><i class="fa-solid fa-chart-bar"></i>&nbsp;Show Scraped Reviews</button>&nbsp;&nbsp;&nbsp;
            <button class="btnBack" onclick="showGraph()"><i class="fa-solid fa-chart-pie"></i>&nbsp;Show Sentiments Statistic</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var label = [];
    var sentimentCount = [];
    var config;
    var reviewTableConfig;
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
    });
    
    var chart;
    function showGraph() {
      const graphPopup = Swal.mixin({
        showCloseButton: true,
        showCancelButton: false,
        showConfirmButton: false
      });
      graphPopup.fire({
        html:
          '<canvas id="graph"></canvas>' +
          '<table id="graphTable" class="dataTable cell-border" style="display: none;"></table>' +
          '<hr>' +
          '<div class="sideBySide">' +
            '<button class="tab graphButton active" id="pieButton" onclick="changeGraph(\'pie\')" disabled>Pie Chart</button>' +
            '<button class="tab graphButton" id="barButton" onclick="changeGraph(\'bar\')">Bar Chart</button>' +
            '<button class="tab graphButton" id="tableButton" onclick="showTableGraph()">Table View</button>' +
          '</div>',
      });
      $('#graphTable').DataTable({
        data: [
          [label[0], sentimentCount[0]],
          [label[1], sentimentCount[1]],
          [label[2], sentimentCount[2]],
        ],
        columns: [
            { title: 'Sentiment'},
            { title: 'Count' }
        ],
        paging: false,
        searching: false,
        ordering: false,
        info: false,
      });
      config = { 
        type: 'pie',  
        data: {
          labels: label,
          datasets: [{
            label: 'Count',
            data: sentimentCount,
            backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Graph View'
            }
          }
        },
      };
      chart = new Chart(document.getElementById("graph"), config);
    }
    function changeGraph(newType) {
      var canvas = document.getElementById('graph');
      var ctx = canvas.getContext("2d");
      if (chart) {
        chart.destroy();
      }

      var graphButtons = document.getElementsByClassName('graphButton');
      for (var i = 0; i < graphButtons.length; i++) {
        graphButtons[i].classList.remove('active');
        graphButtons[i].disabled = false;
      }

      var newChart = jQuery.extend(true, {}, config)
      newChart.type = newType;
      if(newType == 'bar') {
        newChart.options.plugins.legend.display = false;
        document.getElementById('barButton').disabled = true;
        document.getElementById('barButton').classList.add('active');
      } else if(newType == 'pie'){
        newChart.options.plugins.legend.display = true;
        document.getElementById('pieButton').disabled = true;
        document.getElementById('pieButton').classList.add('active');
      }
      document.getElementById('graphTable').style.display = 'none';
      canvas.style.display = 'block';
      chart = new Chart(ctx, newChart);
    };
    function showTableGraph() {
      document.getElementById('pieButton').disabled = false;
      document.getElementById('pieButton').classList.remove('active');
      document.getElementById('barButton').disabled = false;
      document.getElementById('barButton').classList.remove('active');
      document.getElementById('tableButton').disabled = true;
      document.getElementById('tableButton').classList.add('active');
      document.getElementById('graphTable').style.width = '450px';
      document.getElementById('graphTable').style.display = null;
      document.getElementById('graph').style.display = 'none';
    }

    function showReviewTable() {
      const ReviewTable = Swal.fire({
        width: 1200,
        showCloseButton: true,
        showCancelButton: false,
        showConfirmButton: false,
        html:
        '<h2>Scraped Reviews</h2><table id="dataTable" class="dataTable cell-border" style="width: 100%;"></table>',
      });
      $('#dataTable').DataTable(reviewTableConfig);
    }

    function readToggle() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("more");
      var btnText = document.getElementById("readToggle");
    
      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more"; 
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less"; 
        moreText.style.display = "inline";
      }
    }
    
    $(document).ready(function () {
      var btnTab1 = document.getElementById('btnTab1');
      var btnTab2 = document.getElementById('btnTab2');
      
      $("#resultDiv").hide();
      $("#single-text-form").submit(function (event) {
        event.preventDefault();
        var button = $(this).find('#buttonSubmit');
        var buttonText = $(this).find('#buttonSubmitText');
        button.prop('disabled', true);
        buttonText.html('Processing...');
        var formData = $(this).serialize();
        $.ajax({
          url: '/single_text',
          type: 'POST',
          data: formData,
          success: function (response) {
            var prediction = response.prediction;
            var reviewText = response.review_text;
            prediction = prediction.charAt(0).toUpperCase() + prediction.slice(1);
            if(prediction == "Positive") {
              prediction =  '<span style="color: green; opacity: 0.7;"><b>' + prediction + '</b></span>';
            } else if(prediction == "Negative") {
              prediction =  '<span style="color: red; opacity: 0.7;"><b>' + prediction + '</b></span>';
            } else {
              prediction =  '<span style="opacity: 0.7;"><b>' + prediction + '</b></span>';
            }
            Swal.fire({
              title: 'Classification Result', 
              html: 'Prediction: '+ prediction
              + '<br>Review Text: "' + reviewText + '"',
              icon: 'success',
            })
            button.prop('disabled', false);
            buttonText.html('Predict');
          },
          error: function (error) {
            console.log(error);
            button.prop('disabled', false);
            buttonText.html('Predict');
          }
        });
      });
      $("#url-form").submit(function (event) {
        event.preventDefault();
        $("#resultDiv").hide();
        var button = $(this).find('#buttonSubmit');
        var buttonText = $(this).find('#buttonSubmitText');
        button.prop('disabled', true);
        buttonText.html('Processing...');
        var formData = $(this).serialize();
        Toast.fire({
          icon: 'info',
          title: 'Processing reviews...',
        });
        $.ajax({
          url: '/review',
          type: 'POST',
          data: formData,
          success: function (response) {
              var url = response.url;
              var reviews = response.reviews;
              var sentiments = response.sentiments;
              var appDetails = response.app_details;
              var totalReviews = response.total_scraped_reviews;
              label = response.label;
              sentimentCount = response.sentimentCount;

              var appDesc = appDetails["description"];
              if (appDesc.length > 400) {
                let opening = "<span id=\'dots\'>...</span><span id=\'more\'>";
                appDesc = appDesc.slice(0, 400) + opening + appDesc.slice(400);
              
                let closing = "</span>";
                appDesc = appDesc + closing;
                document.getElementById("spanReadToggle").innerHTML = '<br><a href="#appDescription" onclick="readToggle()" id="readToggle">Read more</a>';
              }
              document.getElementById("appTitle").innerHTML = appDetails["title"];
              document.getElementById("appIcon").src = appDetails["icon"];
              document.getElementById("appId").innerHTML = appDetails["appId"];
              document.getElementById("appDeveloper").innerHTML = appDetails["developer"];
              document.getElementById("appDescription").innerHTML = appDesc;
              document.getElementById("appVersion").innerHTML = appDetails["version"];
              document.getElementById("appUrl").innerHTML = appDetails["url"];
              document.getElementById("appUrl").href = appDetails["url"];

              var classification;
              var colorLabel = ['green', 'gray', 'red'];
              var maxIndex = sentimentCount.indexOf(Math.max(...sentimentCount));
              function formatDecimal(number) {
                if (Number.isInteger(number)) {
                  return number.toString();
                }
                
                const rounded = number.toFixed(2);
                const formatted = parseFloat(rounded).toString();
                
                return formatted;
              }
              var stringToAppend = '';
              for(var i = 0; i < sentimentCount.length; i++) {
                var percentage = formatDecimal((sentimentCount[i]/totalReviews) * 100);
                if(i == maxIndex) stringToAppend += '<b>';
                stringToAppend += '<span style="color: '+ colorLabel[i] +';">'+ percentage +'% '+ label[i] +'</span>'; 
                if(i == maxIndex) stringToAppend += '</b>';
                if(i != sentimentCount.length-1) stringToAppend += '<br>';
              }
               
              document.getElementById("classification").innerHTML = stringToAppend;

              var data = [];
              for(var i = 0; i < reviews.length; i++) {
                var array = [];
                array.push((i+1));
                array.push(reviews[i]);
                array.push(sentiments[i]);
                data.push(array);
              }
              if ( $.fn.dataTable.isDataTable( '#dataTable' ) ) {
                  $('#dataTable').DataTable().destroy();
              } 
              button.prop('disabled', false);
              buttonText.html('Predict');
              $("#resultDiv").show();
              $("#inputDiv").hide();

              reviewTableConfig = {
                height: 600,
                data: data,
                columns: [
                    { title: '#', width: '10%' },
                    { title: 'Review', width: 'auto' },
                    { title: 'Prediction', width: '12%' }
                ],
                scrollY: '200px',
                paging: true,
                dom: 'Bfrtip',
                  buttons: [
                    {
                      extend: 'csv',
                      text: 'Export CSV',
                      title: appDetails['title'] + '_Reviews Classification'
                    },
                    {
                      extend: 'print',
                      text: 'Print Reviews',
                      title: appDetails['title'] + ' Reviews Classification',
                      exportOptions: {
                        modifier: {
                            selected: null
                        }
                      },
                    },
                    {
                      extend: 'print',
                      text: 'Full Page Table',
                      title: appDetails['title'] + ' Reviews Classification',
                      exportOptions: {
                          modifier: {
                              selected: null
                          }
                      },
                      autoPrint: false,
                      customize: function ( win ) {
                          $(win.document.body)
                              .css('font-size', '10pt')
                              .css('padding', '10px');

                          $(win.document.body).find('h1')
                              .addClass('titleText');
      
                          $(win.document.body).find( 'table' )
                              .addClass( 'compact' )
                              .css( 'font-size', 'inherit' )
                              .css('backgroundColor', 'rgba(255, 255, 255, 0.5)')
                              .css('border-radius',  '5px')
                              .css('padding', '10px');
                      }
                    }
                  ],
              };
              Toast.close();
          },
          error: function (error) {
              console.log(error);
              button.prop('disabled', false);
              buttonText.html('Predict');
              $("#resultDiv").hide();
              Toast.close();
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                html: '<b>Invalid Application ID!</b><p>Check your URL input, make sure you enter a proper application url as shown in the example below<br>(eg: https://play.google.com/store/apps/details?id=co.imba.he)</p>',
              })
          }
        });
      });
     openTab(event, 'tab1', 'btnTab1');
     btnTab1.classList.toggle("active");
     btnTab1.disabled = !btnTab1.disabled;
    });
    function openTab(event, tabName, btnName) {
      var tabContents = document.getElementsByClassName('tab-content');
      for (var i = 0; i < tabContents.length; i++) {
        tabContents[i].style.display = 'none';
      }
    
      var selectedTabContent = document.getElementById(tabName);
      selectedTabContent.style.display = 'block';
    
      btnTab1.classList.toggle("active");
      btnTab2.classList.toggle("active");
      btnTab1.disabled = !btnTab1.disabled;
      btnTab2.disabled = !btnTab2.disabled;
    }
  </script>
</body>

</html>